@import 'tailwindcss';
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import './components/links.css';
@import './components/btn.css';
@import './components/input.css';
@import './components/user-menu.css';
@import './components/announcement-bar.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-display: 'drummond-variable', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-body: 'roboto', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-coconuthusk: #2A2323;
    --color-goldennut: #F7C758;
    --color-coastalfern: #92B598;
    --color-sandyshore: #EEE4CA; 
    --color-tamanuleaf: #1F3A25; 

}
