@layer components {
    .btn-primary {
        @apply bg-coastalfern/35 rounded-full font-body font-light w-full mt-1 mb-3 p-1; 
    }

    .btn-primary:hover {
        @apply bg-coastalfern text-white;
    }


    .btn-secondary {
        @apply bg-goldennut/35 rounded-full font-body font-light w-full mt-1 mb-3 p-1; 
    }

    .btn-secondary:hover {
        @apply bg-goldennut text-white;
    }

    .btn-plain {
        @apply bg-white rounded-full border-1 border-coconuthusk font-body font-light w-full mt-1 mb-3 p-1; 
    }

    .btn-plain:hover {
        @apply bg-coconuthusk text-white;
    }
}