@layer components {
    .btn-primary {
        @apply bg-coastalfern/35 rounded-lg font-body font-light w-full mt-1 mb-3 p-1; 
    }

    .btn-primary:hover {
        @apply bg-coastalfern text-white;
    }
}